[project]
name = "data-cleaning"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "polars>=1.35.2",
    "pyarrow>=22.0.0",
    "streamlit>=1.50.0",
]
